/* 一些全局设置 */
html {
    /* 设置大小为63% 可以方便px与em转换 */
    font-size: 100%;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    letter-spacing: 1px;

    background: rgb(0,177,246);
    background: linear-gradient(90deg, rgba(0,177,246,1) 15%, rgba(177,3,242,1) 50%, rgba(0,212,255,1) 85%);
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 3px black;
}

body {
    width: 600px;
    /*width: calc(100% - 100px);*/
    margin: 60px auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    width: 250px;
}

 表单美化
form {
    /* 居中表单 */
    margin: 0 auto;
    width: 500px;
    /* 显示表单的轮廓 */
    padding: 0.5em;
    border: 2px solid #100606;
    border-radius: 1em;
}

label {
    /* 确保所有 label 大小相同并正确对齐 */
    display: inline-block;
    width: 200px;
    text-align: right;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

button {
    display: inline-block;
    width: 100px;
    margin-left: 200px;
    background-color: pink;
    border-width: 0.2em;
    border-radius: 0.5em;
}

button:hover {
    background-color: rgba(168, 116, 116, 0.57);
}

input{
    border-radius:5px;
    margin: 5px auto;
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

input:focus{
    /* 给激活的元素一点高亮效果 */
    border-color: #000;
}